header{
    display: block;
    margin: 0;
    padding: 10px 20px;
    background-color: aquamarine;
    color: white;

}

body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;

}

.container{
    margin: 5px;
    padding: 1px;

}

li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}