<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BFP</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script></head>
<body>


<header class="js-on-results">
    <div class="container">



        <ul class="list list-inline">
            <li class="list-inline-item">
                <a href="/home/bmi">BMI calculator</a>
            </li>

            <li class="list-inline-item">
                <a href="/home/calorie">Calorie Calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/bfp">BFP calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/ideal">Ideal weight calculator</a>
            </li>

        </ul>

    </div>
</header>

<div>
    <form action="/getBFP" method="get" >
        <input type="number" name="age" placeholder="years" required/>Age
        <input type="radio" name="sex" value="male" checked> Male
        <br>
        <input type="radio" name="sex" value="female"> Female
        <input type="number" name="height" step="0.1" placeholder="cm" required/>Height
        <input type="number" name="weight" step="0.01" placeholder="kg" required/>Weight
        <input type="number" name="neck" step="0.1" placeholder="cm" required/>Neck
        <input type="number" name="waist" step="0.1" placeholder="cm" required/>Waist
        <input type="number" name="hip" step="0.1" placeholder="cm" required/>Hip
        <button type="submit" class="btn-std"><span class="btn__label">Calculate</span></button>
    </form>
</div>

<h2 th:if="${bfpValue}">
    Your Body Fat Percentage:
</h2>
<p  th:if="${bfpValue}" >The value of your body fat is <th:if="${bfpValue}" th:text="${bfpValue}"> <p />
<p  th:if="${leanMass}" >Your body lean mass is <th:if="${leanMass}" th:text="${leanMass}"> <p />
<p  th:if="${fatMass}" >Your body fat mass is <th:if="${fatMass}" th:text="${fatMass}"> <p />
<p  th:if="${idealBodyFat}" >The ideal body fat for your age is <th:if="${idealBodyFat}" th:text="${idealBodyFat}"> <p />
<p  th:if="${neededFat}" >The difference between your body fat and ideal body fat is <th:if="${neededFat}" th:text="${neededFat}"> <p />




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</body>
</html>