<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bmi</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script></head>
<body>


<header class="js-on-results">
    <div class="container">



        <ul class="list list-inline">
            <li class="list-inline-item">
                <a href="/home/bmi">BMI calculator</a>
            </li>

            <li class="list-inline-item">
                <a href="/home/calorie">Calorie Calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/bfp">BFP calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/ideal">Ideal weight calculator</a>
            </li>

        </ul>

    </div>
</header>


<div class="text-center">
    <form action="/getBmi" method="get" >
        <ul>
            <li class="list-unstyled">
        <input type="number" name="age" placeholder="years" required/>Age
            </li>
            <li class="list-unstyled">
        <input type="radio" name="sex" value="male" checked> Male
        <br>
        <input type="radio" name="sex" value="female"> Female
            </li>
            <li class="list-unstyled">
        <input type="number" name="height" step="0.1" placeholder="cm" required/>Height
            </li>
            <li class="list-unstyled">
        <input type="number" name="weight" step="0.01" placeholder="kg" required/>Weight
            </li>
            <li class="list-unstyled">
        <button type="submit" class="btn-std btn-primary"><span class="btn__label">Calculate</span></button>
            </li>
        </ul>
    </form>
</div>


<h2 th:if="${bmi}" class="align-items-center">
    Your BMI:
</h2>
<p class="align-items-center" th:if="${bmi}" th:text="${bmi}" />


<div class="text-center">
    <div class="container">
        <p class="title">BMI values for adults:</p>
        <ul >
            <li class="list-unstyled">less than 16 - Severe thinness</li>
            <li class="list-unstyled">16 - 16.99 - Moderate thinness</li>
            <li class="list-unstyled">17 - 18.49 - Mild thinness</li>
            <li class="list-unstyled">18.5 - 24.99 - Normal</li>
            <li class="list-unstyled">25 - 29.99 - Overweight</li>
            <li class="list-unstyled">30 - 34.99 - Obese class I</li>
            <li class="list-unstyled">35 - 39.99 - Obese class II</li>
            <li class="list-unstyled">more than 40 - Obese class III</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="align-items-center">
        <img src="/images/BMI.jpg"  class="img-fluid rounded img-thumbnail">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>


</body>
</html>