<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calorie</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script></head>
<body>


<header class="js-on-results">
    <div class="container">



        <ul class="list list-inline">
            <li class="list-inline-item">
                <a href="/home/bmi">BMI calculator</a>
            </li>

            <li class="list-inline-item">
                <a href="/home/calorie">Calorie Calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/bfp">BFP calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/ideal">Ideal weight calculator</a>
            </li>

        </ul>

    </div>
</header>

<div>
    <form action="/getCalories" method="get" >
        <input type="number" name="age" placeholder="years" required/>Age
        <input type="radio" name="sex" value="male" checked> Male
        <br>
        <input type="radio" name="sex" value="female"> Female
        <input type="number" name="height" step="0.1" placeholder="cm" required/>Height
        <input type="number" name="weight" step="0.01" placeholder="kg" required/>Weight
        <select name="exercise" >
            <option value="0">Basal Metabolic Rate</option>
            <option value="1">Sedentary - little or no exercise</option>
            <option value="2">Lightly active - exercise/sports 1-3 times per week</option>
            <option value="3">Moderate active - exercise/sports 3-5 times per week</option>
            <option value="4">Very active - hard exercise/sports 6-7 times per week</option>
            <option value="5">Extra active - very hard exercise/sports or physical job</option>
        </select>
        <button type="submit" class="btn-std"><span class="btn__label">Calculate</span></button>
    </form>
</div>

<h2 th:if="${calorie}">
    Your daily calories:
</h2>
<p th:if="${calorie}" th:text="${calorie}" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</body>
</html>