<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ideal</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script></head>
<body>


<header class="js-on-results">
    <div class="container">



        <ul class="list list-inline">
            <li class="list-inline-item">
                <a href="/home/bmi">BMI calculator</a>
            </li>

            <li class="list-inline-item">
                <a href="/home/calorie">Calorie Calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/bfp">BFP calculator</a>
            </li>
            <li class="list-inline-item">
                <a href="/home/ideal">Ideal weight calculator</a>
            </li>

        </ul>

    </div>
</header>

<div>
    <form action="/getIdeal" method="get" >
        <input type="number" name="age" placeholder="years" required/>Age
        <input type="radio" name="sex" value="male" checked> Male
        <br>
        <input type="radio" name="sex" value="female"> Female
        <input type="number" name="height" step="0.1" placeholder="cm" required/>Height
        <button type="submit" class="btn-std"><span class="btn__label">Calculate</span></button>
    </form>
</div>
<h2 th:if="${hamwi}">Your ideal weight is:</h2>
<p th:if="${hamwi}" >Based on the Hamwi formula (1964), your ideal weight is <th:if="${hamwi}"  th:text="${hamwi}"></p>
<p th:if="${devine}" >Based on the Devine formula (1974), your ideal weight is <th:if="${devine}"  th:text="${devine}"></p>
<p th:if="${robinson}" >Based on the Robinson formula (1983), your ideal weight is <th:if="${robinson}"  th:text="${robinson}"></p>
<p th:if="${miller}" >Based on the Miller formula (1983), your ideal weight is <th:if="${miller}"  th:text="${miller}"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</body>
</html>